@use '../utils/variables' as *;
@mixin button-base($bg, $text, $hover-bg, $hover-text, $hover-border) {
    font-family: $font-family;
    font-weight: 500;
    font-size: 0.95rem;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    border: none;
    background-color: $bg;
    color: $text;
    box-shadow: 0px 8px 16px rgba(82, 103, 223, 0.2);
  
    &:hover {
      background-color: $hover-bg;
      color: $hover-text;
      border: 2px solid $hover-border;
    }
  }
  

.option-btn-blue {
    margin-right: 20px;
    @include button-base($primary-color, $white, $white, $primary-color, $primary-color);
  }
  
  .option-btn-white {
    @include button-base($bg-light, #626367, $white, #626367, #626367);
  }