<section class="download-extension w-full bg-white py-12 px-5">
    <div class="max-w-5xl mx-auto text-center mb-12">
      <h2 class="text-[#2a2e4c] text-3xl md:text-4xl font-bold mb-4">
        Download the extension
      </h2>

      <p class="text-[#94959a] text-base md:text-lg max-w-2xl mx-auto">
        We’ve got more browsers in the pipeline. Please do let us know 
        if you’ve got a favourite you’d like us to prioritize.
      </p>
    </div>
  

    <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-8">

      <div class="flex flex-col items-center bg-white rounded-lg shadow-md px-6 py-20 lg:translate-y-0 border-1 border-[#e4e4e4]">
        <img 
          src="assets/img/logo-chrome.svg" 
          alt="Chrome logo" 
          class="w-16 h-16 mb-4"
        />
        <h3 class="text-[#2a2e4c] text-xl font-bold mb-1">Add to Chrome</h3>
        <p class="text-[#94959a] text-sm mb-4">Minimum version 62</p>
        <hr class="border-t border-dotted w-full border-[#e4e4e4] border-4 mb-6" />
        <button 
          class="bg-[#4d61d3] text-white w-full py-3 rounded hover:bg-white 
                 hover:text-[#4d61d3] hover:border-2 hover:border-[#4d61d3] 
                 font-medium transition"
        >
          Add &amp; Install Extension
        </button>
      </div>
  
      <div class="flex flex-col items-center bg-white rounded-lg shadow-md px-6 py-20 lg:translate-y-6 border-1 border-[#e4e4e4]">
        <img 
          src="assets/img/logo-firefox.svg" 
          alt="Firefox logo" 
          class="w-16 h-16 mb-4"
        />
        <h3 class="text-[#2a2e4c] text-xl font-bold mb-1">Add to Firefox</h3>
        <p class="text-[#94959a] text-sm mb-4">Minimum version 55</p>
        <hr class="border-t border-dotted w-full border-[#e4e4e4] border-4 mb-6" />
        <button 
          class="bg-[#4d61d3] text-white w-full py-3 rounded hover:bg-white 
                 hover:text-[#4d61d3] hover:border-2 hover:border-[#4d61d3] 
                 font-medium transition"
        >
          Add &amp; Install Extension
        </button>
      </div>
  
      <div class="flex flex-col items-center bg-white rounded-lg shadow-md px-6 py-20 lg:translate-y-12 border-1 border-[#e4e4e4]">
        <img 
          src="assets/img/logo-opera.svg" 
          alt="Opera logo" 
          class="w-16 h-16 mb-4"
        />
        <h3 class="text-[#2a2e4c] text-xl font-bold mb-1">Add to Opera</h3>
        <p class="text-[#94959a] text-sm mb-4">Minimum version 46</p>
        <hr class="border-t border-dotted w-full border-[#e4e4e4] border-4  mb-6" />
        <button 
          class="bg-[#4d61d3] text-white w-full py-3 rounded hover:bg-white 
                 hover:text-[#4d61d3] hover:border-2 hover:border-[#4d61d3] 
                 font-medium transition"
        >
          Add &amp; Install Extension
        </button>
      </div>
    </div>
  </section>
  