<section class="flex flex-col items-center justify-center" id="features-container">

  <div class="max-w-5xl mx-auto text-center mb-12">
    <h2 class="text-[#2a2e4c] text-3xl md:text-4xl font-bold mb-4">
     Features
    </h2>
    <p class="text-[#94959a] text-base md:text-lg max-w-2xl mx-auto">
      Our aim is to make it quick and easy for you to access your favourite websites.
      Your bookmarks sync between your devices so you can access them on the go.
    </p>
  </div>


 <nav class="">
  <ul class="nav-features flex flex-col md:flex-row list-none justify-center items-center pb-0 w-full border-b border-[#94959a]">
    <li class="text-center w-[80vw] md:w-auto border-t border-[#94959a] md:border-none">
      <a href="#" class="feature-tab tab-link py-4 px-6 text-black border-b-4 border-[#fb575b] w-full md:w-auto block text-center">Simple Bookmarking</a>
    </li>
    <li class="text-center w-[80vw] md:w-auto border-t border-[#94959a] md:border-none">
      <a href="#" class="feature-tab tab-link py-4 px-6 text-gray-600 border-b-4 border-transparent hover:text-black hover:border-[#fb575b] w-full md:w-auto block text-center">Speedy Searching</a>
    </li>
    <li class="text-center w-[80vw] md:w-auto border-t border-[#94959a] md:border-none">
      <a href="#" class="feature-tab tab-link py-4 px-6 text-gray-600 border-b-4 border-transparent hover:text-black hover:border-[#fb575b] w-full md:w-auto block text-center">Easy Sharing</a>
    </li>
  </ul>
</nav>



  <div class="w-full flex flex-col items-center">


    <div id="feature-bookmarking" class="feature flex items-center justify-between py-12 px-[10%] gap-12 w-full
                                        md:flex-row flex-col
                                        relative">

      <div class="feature-image w-full md:w-1/2 relative flex justify-center mb-8 md:mb-0">

        <div class="hidden md:block absolute top-1/3 right-[40%] w-[120%] h-[320px] bg-[#4d61d3] 
                    rounded-r-[150px] -z-10">
        </div>
        <img 
          src="assets/img/illustration-features-tab-1.svg" 
          alt="Simple Bookmarking" 
          class="max-w-[500px] w-full rounded-[20px]"
        >
      </div>

      <div class="feature-text w-full md:w-1/2 flex flex-col gap-4">
        <h3 class="text-[2rem] text-[#2a2e4c]">Bookmark in one click</h3>
        <p class="text-[1.2rem] text-[#94959a]">
          Organize your bookmarks however you like. Our simple drag-and-drop 
          interface gives you complete control over how you manage your favourite sites.
        </p>
        <button 
          class="inline-block font-medium text-[0.95rem] py-3 px-6 rounded 
                 cursor-pointer transition-all border-none bg-[#4d61d3] text-white
                 shadow-[0_8px_16px_rgba(82,103,223,0.2)]
                 hover:bg-white hover:text-[#4d61d3] 
                 hover:border-2 hover:border-[#4d61d3]
                 w-fit"
        >
          More Info
        </button>
      </div>
    </div>

    
    <div id="feature-searching" class="feature hidden items-center justify-between py-12 px-[10%] gap-12 w-full
                                     md:flex-row flex-col
                                     relative">
      <div class="feature-image w-full md:w-1/2 relative flex justify-center mb-8 md:mb-0">
        <div class="hidden md:block absolute top-1/3 right-[40%] w-[120%] h-[320px] bg-[#4d61d3] 
                    rounded-r-[150px] -z-10">
        </div>
        <img 
          src="assets/img/illustration-features-tab-2.svg" 
          alt="Speedy Searching"
          class="max-w-[500px] w-full rounded-[20px]"
        >
      </div>
      <div class="feature-text w-full md:w-1/2 flex flex-col gap-4">
        <h3 class="text-[2rem] text-[#2a2e4c]">Intelligent Search</h3>
        <p class="text-[1.2rem] text-[#94959a]">
          Our powerful search feature will help you find saved sites in no time at all. 
          No need to crawl through all of your bookmarks.
        </p>
        <button 
          class="inline-block font-medium text-[0.95rem] py-3 px-6 rounded 
                 cursor-pointer transition-all border-none bg-[#4d61d3] text-white
                 shadow-[0_8px_16px_rgba(82,103,223,0.2)]
                 hover:bg-white hover:text-[#4d61d3] 
                 hover:border-2 hover:border-[#4d61d3]
                 w-fit"
        >
          More Info
        </button>
      </div>
    </div>

    <div id="feature-sharing" class="feature hidden items-center justify-between py-12 px-[10%] gap-12 w-full
                                   md:flex-row flex-col
                                   relative">
      <div class="feature-image w-full md:w-1/2 relative flex justify-center mb-8 md:mb-0">
        <div class="hidden md:block absolute top-1/3 right-[40%] w-[120%] h-[320px] bg-[#4d61d3] 
                    rounded-r-[150px] -z-10">
        </div>
        <img 
          src="assets/img/illustration-features-tab-3.svg" 
          alt="Easy Sharing"
          class="max-w-[500px] w-full rounded-[20px]"
        >
      </div>
      <div class="feature-text w-full md:w-1/2 flex flex-col gap-4">
        <h3 class="text-[2rem] text-[#2a2e4c]">Share your bookmarks</h3>
        <p class="text-[1.2rem] text-[#94959a]">
          Easily share your bookmarks and collections with others. 
          Create a shareable link that you can send at the click of a button.
        </p>
        <button 
          class="inline-block font-medium text-[0.95rem] py-3 px-6 rounded 
                 cursor-pointer transition-all border-none bg-[#4d61d3] text-white
                 shadow-[0_8px_16px_rgba(82,103,223,0.2)]
                 hover:bg-white hover:text-[#4d61d3] 
                 hover:border-2 hover:border-[#4d61d3]
                 w-fit"
        >
          More Info
        </button>
      </div>
    </div>
  </div>
</section>
