<section class="features-container">
    <div class="initial-content">
      <h2>Features</h2>
      <p>Our aim is to make it quick and easy for you to access your favourite websites.
         Your bookmarks sync between your devices so you can access them on the go.</p>
    </div>
    <div class="features">
        <nav>
            <ul class="nav-features">
                <li href=><a >Simple Bookmarking</a></li>
                <li href=#><a >Speedy Searching</a></li>
                <li href=#><a >Easy Sharing</a></li>
            </ul>
        </nav>
    </div>
    </div>
  </section>
  