<footer class="bg-[#252b46] text-white px-8 py-6 flex flex-col md:flex-row justify-between items-center">
 
    <div class="flex items-center gap-2 mb-4 md:mb-0 pl-4">
        <img src="assets/img/logo-bookmark.svg" alt="Logo" class="w-[177.6px] h-[30px] mr-10" />
    </div>
  

    <div class="flex gap-6 text-sm mb-4 md:mb-0">
      <a href="#" class="hover:text-[#fb575b] tracking-widest">FEATURES</a>
      <a href="#" class="hover:text-[#fb575b] tracking-widest">PRICING</a>
      <a href="#" class="hover:text-[#fb575b] tracking-widest">CONTACT</a>
    </div>
  

    <div class="flex gap-4 mr-10">
      <img src="assets/icons/icon-facebook.svg" alt="icon-facebook" class="" />
  

      <img src="assets/icons/icon-twitter.svg" alt="icon-twitter" class="" />
    </div>
  </footer>