<header>
    <div class="container">

        <div class="logo">
            <img src="assets/img/logo-bookmark.svg" alt="Logo de la página">
        </div>

        <div class="navBar">
            <nav>
                <ul class="nav-links">
                    <li><a >FEATURES</a></li>
                    <li><a >PRICING</a></li>
                    <li><a >CONTACT</a></li>
                </ul>
            </nav>
            <button href=# class="login-btn"> LOGIN </button>
        </div>

    </div>
</header>