<section class="hero-container flex flex-col-reverse md:flex-row items-center text-center md:text-left py-10 px-5">
  <div class="left-content w-full md:w-1/2 flex flex-col gap-5 px-5 md:pl-[10%]">
    <h1 class="text-[2.5rem] md:text-[4rem] font-bold text-[#2a2e4c]">
      A Simple Bookmark Manager
    </h1>
    <p class="text-[1.2rem] md:text-[1.4rem] text-[#94959a]">
      A clean and simple interface to organize your favourite websites. Open a new browser tab and see your sites load instantly. Try it for free.
    </p>
    <div class="buttons flex flex-col md:flex-row gap-4 justify-center md:justify-start">
      <button class="option-btn-blue font-medium text-[0.95rem] px-6 py-3 rounded bg-[#4d61d3] text-white shadow-lg hover:bg-white hover:text-[#4d61d3] hover:border-2 hover:border-[#4d61d3] transition">
        Get it on Chrome
      </button>
      <button class="option-btn-white font-medium text-[0.95rem] px-6 py-3 rounded bg-[#f7f7f6] text-[#626367] shadow-lg hover:bg-white hover:text-[#626367] hover:border-2 hover:border-[#626367] transition">
        Get it on Firefox
      </button>
    </div>
  </div>
  <div class="right-content w-full md:w-1/2 flex justify-center items-center relative pt-10">
    <div class="image-container relative w-full max-w-[400px] md:max-w-[600px]">
      <img src="assets/img/illustration-hero.svg" alt="Ilustración" class="w-full md:w-[650px] rounded-[20px] z-10 relative">
      <div class="absolute 
                  top-[20%] left-[30%] w-[110%] h-[214px] 
                  md:top-[30%] md:left-[40%] md:w-[120%] md:h-[320px] 
                  bg-[#4d61d3] rounded-[150px_0_0_150px] -z-10">
      </div>
    </div>
  </div>
</section>
