<section class="hero-container">
    <div class="left-content">
      <h1>A Simple Bookmark Manager</h1>
      <p>A clean and simple interface to organize your favourite websites. Open a new browser tab and see your sites load instantly. Try it for free.</p>
      <div class="buttons">
        <button class="option-btn-blue">Get it on Chrome</button>
        <button class="option-btn-white">Get it on Firefox</button>
      </div>
    </div>
    <div class="right-content">
    <div class="image-container"> 
      <img src="assets/img/illustration-hero.svg" alt="ilustración de vista de aplicacion generica">
    </div>
    </div>
  </section>
  