:root {
  --color-primary: #4d61d3;
  --color-secondary: #fb575b;
  --color-text-dark: #2a2e4c;
  --color-text-light: #94959a;
  --color-bg-light: #f7f7f6;
  --color-white: #ffffff;
  --color-black: #000000;
  --font-inter: 'Inter', sans-serif;
}